@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Nirmal Tech</h1>
    <p class="lead">mywebpage.</p>
    <p><a href="https://dipaktech.azurewebsites.net" class="btn btn-primary btn-lg">diapk website &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Gmail</h2>
        <p>
            nirmak0806@outlook.com
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>contact number</h2>
        <p>+91 9111112990</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Azure </h2>
        <p>i am learning script.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>